.listaUsuariosContenedor {
	background-color: #ECECEC;
	padding: 30px 30px 30px 30px;
	margin-top: 25%;
	border-radius: 12px;
}

.contenedorError {
	padding-top: 30px;
}
.h1Usuario{
	text-align: center;
}

.listaBotones{
	padding-top: 30px;
	padding-bottom: 30px;
}

.tableListaUsuarios{
	background-color: white;
}